/*
   COLUMN SPAN
*/
.cs-non { column-span: none; }
.cs-all { column-span: all; }
.cs-span { column-span: inherit; }
@media screen and (min-width: 48em) {
 .cs-non-ns { column-span: none; }
 .cs-all-ns { column-span: all; }
 .cs-span-ns { column-span: inherit; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .cs-non-m { column-span: none; }
 .cs-all-m { column-span: all; }
 .cs-span-m { column-span: inherit; }
}
@media screen and (min-width: 64em) {
 .cs-non-l { column-span: none; }
 .cs-all-l { column-span: all; }
 .cs-span-l { column-span: inherit; }
}

